<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Izipay - Formulario Incrustado{% endblock %}</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css"
        integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous" />
  
    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>





<body>
    <nav class="navbar bg-primary" style="background-color: #FF2D46!important;">
        <div class="container-fluid">
            <a href="/" class="navbar-brand mb-1">
                <img src="https://iziweb001b.s3.amazonaws.com/webresources/img/logo.png" width="80">
            </a>
        </div>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>